.header {
  width: 100%;
  height: 50px;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerLogo {
  height: 25px;
}
.username {
  color: #575453;
  font-weight: 600;
  margin-right: 20px;
}
@media (max-width: 768px) {
  .centerContent {
    justify-content: center;
  }
}
@media (max-width: 640px) {
  .username {
    display: none;
  }
}