.button {
  padding: 5px 15px;
  font-size: 1em;
  border-radius: 6px;
  color: #ffffff;
  background-color: #2E50D4;
  border: 2px solid #2E50D4;
  cursor: pointer;
}
.outlined {
  border: 2px solid #2E50D4;
  font-weight: 600;
  color: #2E50D4;
  background-color: #ffffff;
}
.block {
  width: 100%;
}
.loadIcon {
  font-size: 1.2em;
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}