.notfoundWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 4em;
  color: #575453;
}

.subtitle {
  font-size: 1.4;
  color: #575453;
  margin-bottom: 50px;
}