.modalWrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: 15px;
  top: 0;
  left: 0;
  background-color: #000000e0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.modal {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  max-width: 500px;
}

.header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5px;
}

/* .closeButton {

} */
