.footer {
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  border-top: 2px solid #DAD2D0;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}
@media (min-width: 640px) {
  .footer {
    border-top: 2px solid #ffffff;
  }
}