.consultationPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
  justify-content: center;
  overflow-y: auto;
}
.listItem {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.consultationListWrapper {
  width: 100%;
  padding: 20px;
  max-width: 540px;
}
.listTotalInfo {
  font-size: 1.1em;
  color: #575453;
  font-weight: 700;
}
.listItemContentUser {
  font-size: 1.1em;
  color: #575453;
}
.listItemContentDate {
  font-size: 0.9em;
  color: #575453;
}
.title {
  color: #1C307F;
  margin: 10px;
}
.emptyListWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.emptyLeft {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 25px 0px;
}
.emptyRight {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 25px 0px;
}
.emptyRight img{
  margin-left: auto;
}
.emptyCenter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0px;
  color: #999392;
  font-weight: 700;
}

