.login {
  width: 100%;
  display: flex;
}
.block {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .presentation {
    display: none;
  }
  .block {
    width: 100%;
  }
}

.presentationImage {
  width: 100%;
  max-width: 444px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.loginform {
  max-width: 360px;
  width: 100%;
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 2.5em;
  font-weight: 800;
  color: #210080;
}

@media (min-width: 768px) {
  .title {
    display: none;
  }
}

.errorMessage {
  color: rgb(172, 41, 41);
  margin-bottom: 15px;
}