.inputWrapper {
  font-size: 1.1em;
  color: grey;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-bottom: 2px solid #DAD2D0;
}
.inputWrapperFocus {
  border-bottom: 2px solid #2E50D4;
}
.label {
  color: #575453;
  font-weight: 400;
}
.input {
  padding: 5px 5px;
  font-size: 0.9em;
  color: #333333;
  border: none;
}